---
---

@import "{{ site.theme }}";

#title {
  text-align: center;
}

#header {
  display: none;
}

h2 {
  margin-top: 2rem;
}

.wrapper {
  max-width: 856px;
}

section {
  max-width: 856px;
}

blockquote {
  color: #d7cfbe;
  background-color: #2b2929;
}
