---
---

@import "{{ site.theme }}";

#title {
  text-align: center;
}

#header {
  display: none;
}

h2 {
  margin-top: 2rem;
}

.wrapper {
  max-width: 856px;
}

section {
  max-width: 856px;
}

body {
  font-size: 1.1rem;
}
